<h3>{{ 'headings.crudeData' | translate }}</h3>
<table mat-table [dataSource]="dataSource" matSort class="center">
    <ng-container matColumnDef="register">
        <th mat-header-cell *matHeaderCellDef>{{ 'columns.name' | translate }}</th>
        <td mat-cell *matCellDef="let v">{{ v.register }}</td>
    </ng-container>
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>{{ 'columns.value' | translate }}</th>
        <td mat-cell *matCellDef="let v">{{ v.value }}</td>
    </ng-container>
    <ng-container matColumnDef="scale">
        <th mat-header-cell *matHeaderCellDef>{{ 'columns.scale' | translate }}</th>
        <td mat-cell *matCellDef="let v">{{ v.scale }}</td>
    </ng-container>
    <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>{{ 'columns.unit' | translate }}</th>
        <td mat-cell *matCellDef="let v">{{ v.unit }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
