<div>
  <h2>{{ 'headings.mqtt' | translate }}</h2>
</div>

<div class="divCenterOuter">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.mqtt.placeholderServer' | translate }}" formControlName="server" id="server" required>
      <mat-hint align="end">{{ 'forms.settings.mqtt.hintServer' | translate }}</mat-hint>
      @if (hasError('server', 'required')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('server', 'minlength')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.minLength_7' | translate }}</mat-error>
      }
      @if (hasError('server', 'maxlength')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.maxLength_39' | translate }}</mat-error>
      }
    </mat-form-field>
    <br/>
    <br/>
    <mat-form-field style="width:19em">
      <input matInput type="number" placeholder="{{ 'forms.settings.mqtt.placeholderPort' | translate }}" formControlName="port" id="port" required>
      <mat-hint align="end">{{ 'forms.settings.mqtt.hintPort' | translate }}</mat-hint>
      @if (hasError('port', 'required')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('port', 'min')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.min_1' | translate }}</mat-error>
      }
      @if (hasError('port', 'max')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.max_65535' | translate }}</mat-error>
      }
    </mat-form-field>
    <br/>
    <br/>

    <mat-checkbox formControlName="publishEnabled" id="publishEnabled">{{ 'forms.settings.mqtt.checkPublishReadings' | translate }}</mat-checkbox>
    <br/>
    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.mqtt.placeholderClientId' | translate }}" formControlName="clientId" id="clientId" required>
      <mat-hint align="end">{{ 'forms.settings.mqtt.hintClientId' | translate }}</mat-hint>
      @if (hasError('clientId', 'required')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('clientId', 'minlength')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.minLength_1' | translate }}</mat-error>
      }
      @if (hasError('clientId', 'maxlength')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.maxLength_23' | translate }}</mat-error>
      }
      @if (hasError('clientId', 'pattern')) {
        <mat-error>{{ 'forms.settings.mqtt.valErrors.invalidCharacters' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>
    <br/>

    <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.mqtt.buttonSave' | translate }}</button>
    <button mat-raised-button style="margin:5px;" type="button" [disabled]="!formGroup.valid" (click)="testClick()">{{ 'forms.settings.mqtt.buttonTest' | translate }}</button>
  </form>
</div>
