<div>
  <h2>{{ 'headings.relayControls' | translate }}</h2>
</div>

<div class="divCenterOuter">
  {{ 'headings.relayControlsInfo' | translate }}
</div>

<br/>
<br/>

<div>
  <h3>{{ 'headings.relayControlsAdd' | translate }}</h3>
</div>

<div class="divCenterOuter">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">

    <mat-form-field style="width:19em">
      <mat-select (selectionChange)="optionSelected($event)" placeholder="{{ 'forms.settings.relayControls.placeholderRelayName' | translate }}" formControlName="relayName" id="relayName" required>
        <mat-option *ngFor="let opt of disconnectControlOptions" [value]="{ nameLabel:opt.label, nameObisCode:opt.obisCode }">
          {{ opt.serie }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.relayControls.hintRelayName' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('relayName', 'required')">{{ 'forms.settings.relayControls.valErrors.required' | translate }}</mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <mat-select (selectionChange)="optionSelected($event)" placeholder="{{ 'forms.settings.relayControls.placeholderSerieName' | translate }}" formControlName="serieName" id="serieName" required>
        <mat-option *ngFor="let opt of evaluationSerieOptions" [value]="{ evaluationLabel:opt.label, evaluationObisCode:opt.obisCode, unit:opt.unit }">
          {{ opt.serie }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.relayControls.hintSerieName' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('serieName', 'required')">{{ 'forms.settings.relayControls.valErrors.required' | translate }}</mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <mat-select (selectionChange)="optionSelected($event)" placeholder="{{ 'forms.settings.relayControls.placeholderDuration' | translate }}" formControlName="durationMinutes" id="durationMinutes" required>
        <mat-option *ngFor="let opt of durationMinuteOptions" [value]="opt">
          {{ opt }} {{ 'forms.settings.relayControls.minutes' | translate }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.relayControls.hintDuration' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('durationMinutes', 'required')">{{ 'forms.settings.relayControls.valErrors.required' | translate }}</mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" (change)="inputChanged($event)" (keyup)="inputChanged($event)" placeholder="{{ 'forms.settings.relayControls.placeholderDisconnectToConnectValue' | translate }}" formControlName="disconnectToConnectValue" id="disconnectToConnectValue" required>
      <mat-hint align="end">{{ 'forms.settings.relayControls.hintDisconnectToConnectValue' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('disconnectToConnectValue', 'required')">{{ 'forms.settings.relayControls.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('disconnectToConnectValue', 'min')">{{ 'forms.settings.relayControls.valErrors.min_1' | translate }}</mat-error>
      <mat-error *ngIf="hasError('disconnectToConnectValue', 'max')">{{ 'forms.settings.relayControls.valErrors.max_65535' | translate }}</mat-error>
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" [errorStateMatcher]="errorMatcher" (change)="inputChanged($event)" (keyup)="inputChanged($event)" placeholder="{{ 'forms.settings.relayControls.placeholderConnectToDisconnectValue' | translate }}" formControlName="connectToDisconnectValue" id="connectToDisconnectValue" required>
      <mat-hint align="end">{{ 'forms.settings.relayControls.hintConnectToDisconnectValue' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('connectToDisconnectValue', 'required')">{{ 'forms.settings.relayControls.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('connectToDisconnectValue', 'min')">{{ 'forms.settings.relayControls.valErrors.min_1' | translate }}</mat-error>
      <mat-error *ngIf="hasError('connectToDisconnectValue', 'max')">{{ 'forms.settings.relayControls.valErrors.max_65535' | translate }}</mat-error>
      <mat-error *ngIf="formGroup.hasError('valueGreaterThanOrEqual')">{{ 'forms.settings.relayControls.valErrors.mustBeLess' | translate }}</mat-error>
    </mat-form-field>

    <br/>

    <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.relayControls.buttonAdd' | translate }}</button>

    <br/>

    {{ helpText }}
  </form>

</div>

  <br />
  <br />

<div class="divCenterOuter">
  <div class="divCenterInner">

    <div *ngIf="disconnectRuleSet !== undefined && disconnectRuleSet.items.length > 0">
      <app-settings-relay-controls-table [disconnectRuleSet]="disconnectRuleSet"
        (deleteDisconnectRule)="deleteDisconnectRule($event)"></app-settings-relay-controls-table>
    </div>

  </div>
</div>