<div>
  <h2>{{ costBreakdownTitle }} {{ 'headings.costBreakdownEntry' | translate }}</h2>
</div>


<div class="divCenterOuter">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-form-field style="width:19em">
      <input matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="dpFrom"
        placeholder="{{ 'common.chooseDateFrom' | translate }}" (dateChange)="fromDateChangeEvent()"
        formControlName="fromDate" id="fromDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom startView="month"></mat-datepicker>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintDateFrom' | translate }}</mat-hint>
      @if (hasError('fromDate', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <br />

    <mat-form-field style="width:19em">
      <input matInput [min]="minDateTo" [max]="maxDateTo" [matDatepicker]="dpTo"
        placeholder="{{ 'common.chooseDateTo' | translate }}" (dateChange)="toDateChangeEvent()"
        formControlName="toDate" id="toDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo startView="month"></mat-datepicker>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintDateTo' | translate }}</mat-hint>
      @if (hasError('toDate', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <br />

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.pricing.costBreakdown.placeholderName' | translate }}" formControlName="name" id="name" required>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintName' | translate }}</mat-hint>
      @if (hasError('name', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('name', 'minlength')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.minLength_1' | translate }}</mat-error>
      }
      @if (hasError('name', 'maxlength')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.maxLength_30' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" min="{{ startTimeMinValue }}" max="{{ startTimeMaxValue }}"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        (change)="onStartTimeChange()"
        placeholder="{{ 'forms.settings.pricing.costBreakdown.placeholderStartTime' | translate }}"
        formControlName="startTime" id="startTime" required>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintStartTime' | translate }}
      </mat-hint>
      @if (hasError('startTime', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('startTime', 'min')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.min' | translate: ({minValue: startTimeMinValue}) }}</mat-error>
      }
      @if (hasError('startTime', 'max')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.max' | translate: ({maxValue: startTimeMaxValue}) }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" min="{{ endTimeMinValue }}" max="{{ endTimeMaxValue }}"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57 && event.target.value.length < 3"
        (change)="onEndTimeChange()"
        placeholder="{{ 'forms.settings.pricing.costBreakdown.placeholderEndTime' | translate }}"
        formControlName="endTime" id="endTime" required>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintEndTime' | translate }}
      </mat-hint>
      @if (hasError('endTime', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('endTime', 'min')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.min' | translate: ({minValue: endTimeMinValue}) }}</mat-error>
      }
      @if (hasError('endTime', 'max')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.max' | translate: ({maxValue: endTimeMaxValue}) }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" min="0" max="1000"
        onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 44 || event.charCode == 46) && event.target.value.length < 8"
        placeholder="{{ 'forms.settings.pricing.costBreakdown.placeholderAmount' | translate }}"
        formControlName="amount" id="amount" required>
      <span matPrefix>&nbsp;&nbsp;&nbsp;{{ costBreakdownCurrency }}&nbsp;&nbsp;&nbsp;</span>
      <mat-hint align="end">{{ 'forms.settings.pricing.costBreakdown.hintAmount' | translate }}</mat-hint>
      @if (hasError('amount', 'required')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('amount', 'min')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.min' | translate: ({minValue: minAmountValue}) }}</mat-error>
      }
      @if (hasError('amount', 'max')) {
        <mat-error>{{ 'forms.settings.pricing.costBreakdown.valErrors.max' | translate: ({maxValue: maxAmountValue}) }}</mat-error>
      }
    </mat-form-field>

    <br/>

    @if (createMode) {
      <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.pricing.costBreakdown.buttonAddEntry' | translate }}</button>
    }
    @if (!createMode) {
      <button mat-raised-button style="margin:5px;" type="button" [disabled]="!formGroup.valid" (click)="updateClick()">{{ 'forms.settings.pricing.costBreakdown.buttonUpdateEntry' | translate }}</button>
    }
  </form>
</div>

<br/>

