<br/>
<br/>
<br/>

<div class="divCenterOuter">
  {{ 'common.chooseFromMenu' | translate }}
</div>

<div class="divCenterOuter">
  {{ 'common.forExampleProfileGraph' | translate }}
</div>

<div *ngIf="applicationProperties !== undefined && applicationProperties != null" class="divCenterOuter">
  <br/>
  <br/>
  <br/>
  {{ 'common.serverVersion' | translate }} {{ applicationProperties.version }}
  <br/>
  {{ 'common.serverLanguage' | translate }} {{ applicationProperties.culture }}
  <br/>
  {{ 'common.serverTimeZone' | translate }} {{ applicationProperties.timeZone }}
</div>
