<div>
  <h2>{{ 'headings.latestGuages' | translate }}</h2>
</div>

<div class="divCenterOuter">
  <div class="divCenterInner">

    @if (gaugeValueGroupSet !== undefined && gaugeValueGroupSet.groups.length == 0) {
      <div>
        <h3>{{ 'common.noDataFound' | translate }}</h3>
      </div>
    }

    @if (gaugeValueGroupSet !== undefined && gaugeValueGroupSet.groups.length > 0) {
      <div>
        @for (group of gaugeValueGroupSet.groups; track group) {
          <div>
            <app-gauges-table [gaugeValueGroup]="group"></app-gauges-table>
            <br/>
            <br/>
          </div>
        }
      </div>
    }

  </div>
</div>