<div>
  <h2>{{ 'headings.profileGraphs' | translate }}</h2>
</div>

<div class="divCenterOuter">
  {{ 'headings.profileGraphsInfo' | translate }}
</div>

<br/>

<div class="divCenterOuter">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-form-field style="width:19em">
      <mat-select placeholder="{{ 'forms.settings.profileGraphs.placeholderPeriod' | translate }}" formControlName="period" id="period" required>
        @for (opt of profileGraphPeriods; track opt) {
          <mat-option [value]="opt">
            {{ 'forms.settings.profileGraphs.periods.' + opt | translate }}
          </mat-option>
        }
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.profileGraphs.hintPeriod' | translate }}</mat-hint>
      @if (hasError('period', 'required')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.profileGraphs.placeholderPage' | translate }}" formControlName="page" id="page">
      <mat-hint align="end">{{ 'forms.settings.profileGraphs.hintPage' | translate }}</mat-hint>
      @if (hasError('page', 'maxlength')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.maxLength_25' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.profileGraphs.placeholderTitle' | translate }}" formControlName="title" id="title" required>
      <mat-hint align="end">{{ 'forms.settings.profileGraphs.hintTitle' | translate }}</mat-hint>
      @if (hasError('title', 'required')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('title', 'minlength')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.minLength_1' | translate }}</mat-error>
      }
      @if (hasError('title', 'maxlength')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.maxLength_25' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <mat-select placeholder="{{ 'forms.settings.profileGraphs.placeholderInterval' | translate }}" formControlName="interval" id="interval" required>
        @for (opt of profileGraphIntervals; track opt) {
          <mat-option [value]="opt.value">
            {{ opt.intervalValue }} {{ 'forms.settings.profileGraphs.' + opt.intervalUnit | translate }}
          </mat-option>
        }
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.profileGraphs.hintInterval' | translate }}</mat-hint>
      @if (hasError('interval', 'required')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    <mat-form-field style="width:19em">
      <mat-select placeholder="{{ 'forms.settings.profileGraphs.placeholderSeries' | translate }}" formControlName="series" id="series" multiple required>
        <mat-select-trigger>
          @if (formGroup.controls['series'].value?.length === 1) {
            <span class="example-additional-selection">
              {{ formGroup.controls['series'].value[0].serie }}
            </span>
          }
          @if (formGroup.controls['series'].value?.length > 1) {
            <span class="example-additional-selection">
              {{ 'forms.settings.profileGraphs.multipleSeries' | translate:{value:formGroup.controls['series'].value.length} }}
            </span>
          }
        </mat-select-trigger>
        @for (opt of profileGraphSeries; track opt) {
          <mat-option [value]="opt">
            {{ opt.serie }}
          </mat-option>
        }
      </mat-select>
      <mat-hint align="end">{{ 'forms.settings.profileGraphs.hintSeries' | translate }}</mat-hint>
      @if (hasError('series', 'required')) {
        <mat-error>{{ 'forms.settings.profileGraphs.valErrors.required' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>

    @if (createMode) {
      <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.profileGraphs.buttonAdd' | translate }}</button>
    }
    @if (!createMode) {
      <button mat-raised-button style="margin:5px;" type="button" [disabled]="!formGroup.valid" (click)="updateClick()">{{ 'forms.settings.profileGraphs.buttonUpdate' | translate }}</button>
    }
  </form>
</div>

<br/>
<br/>

<div class="divCenterOuter">
  <div class="divCenterInner">
    @if (profileGraphGroups !== undefined) {
      <div>
        @for (profileGraphGroup of profileGraphGroups; track profileGraphGroup) {
          <app-settings-profile-graphs-table
            [profileGraphs]="profileGraphGroup" (editProfileGraph)="editProfileGraph($event)"
            (deleteProfileGraph)="deleteProfileGraph($event)"
          (swapProfileGraphs)="swapProfileGraphs($event)"></app-settings-profile-graphs-table>
        }
      </div>
    }
  </div>
</div>