th.mat-mdc-header-cell {
    font-size: 14px;
    font-weight: 500;
}

tr.mat-mdc-footer-row,tr.mat-mdc-row {
    height:2em;
}

td.mat-mdc-cell,td.mat-mdc-footer-cell,th.mat-mdc-header-cell {
    padding-left:7px;
    padding-right:7px;
}
/*
.mat-cell.mat-column-value,.mat-header-cell.mat-column-value  {
    text-align: right;
}
*/
