<div class="divCenterOuter">
  <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">

    <mat-form-field style="width:19em">
      <mat-select placeholder="{{ 'common.placeholderTitle' | translate }}" formControlName="title" id="title"
        required (selectionChange)="titleChangeEvent($event)">
        @for (opt of titles; track opt) {
          <mat-option [value]="opt">
            {{ opt }}
          </mat-option>
        }
      </mat-select>
      <mat-hint align="end">{{ 'common.chooseTitle' | translate }}</mat-hint>
    </mat-form-field>

    <br />

    <mat-form-field style="width:19em">
      <input matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="dpFrom"
        placeholder="{{ 'common.chooseDateFrom' | translate }}" (dateChange)="fromDateChangeEvent($event)"
        formControlName="fromDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom startView="month"></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field style="width:19em">
      <input matInput [min]="minDateTo" [max]="maxDateTo" [matDatepicker]="dpTo"
        placeholder="{{ 'common.chooseDateTo' | translate }}" (dateChange)="toDateChangeEvent($event)"
        formControlName="toDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo startView="month"></mat-datepicker>
    </mat-form-field>

    <br />

    <mat-form-field style="width:19em">
      <mat-select placeholder="{{ 'forms.export.placeholderDecimalSeparator' | translate }}"
        formControlName="decimalSeparator" id="decimalSeparator" required
        (selectionChange)="decimalSeparatorChangeEvent($event)">
        @for (opt of decimalSeparators; track opt) {
          <mat-option [value]="opt.name">
            {{ 'forms.export.decimalSeparators.' + opt.name | translate }}
          </mat-option>
        }
      </mat-select>
      <mat-hint align="end">{{ 'forms.export.hintDecimalSeparator' | translate }}</mat-hint>
      @if (hasError('decimalSeparator', 'required')) {
        <mat-error>{{ 'forms.export.valErrors.required' | translate
        }}</mat-error>
      }
    </mat-form-field>

    <br />

    <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{
    'export.buttonGetExport' | translate }}</button>

  </form>
</div>