@if (gaugeValueGroup != null) {
  <h3>{{ 'headings.gauges.groupName.' + gaugeValueGroup.name | translate }}</h3>
}
<table mat-table [dataSource]="dataSource" matSort class="center">
  <ng-container matColumnDef="serie">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'columns.serie' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.serie }}</td>
  </ng-container>
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.timestamp' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.timestamp | date:'medium' }}</td>
  </ng-container>
  <ng-container matColumnDef="gaugeValue">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.gaugeValue' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.value | number:'1.3-3' }}</td>
  </ng-container>
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.unit' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.unit }}</td>
  </ng-container>
  <ng-container matColumnDef="deviceId">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.deviceId' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.deviceId }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
