<div class="divCenterOuter">

<button mat-raised-button color="primary" [matMenuTriggerFor]="profileMenu">{{ 'menu.profile' | translate }}</button>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="profileLast24hMenu">{{ 'menu.profileLast24h' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="profileLast31dMenu">{{ 'menu.profileLast31d' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="profileLast12mMenu">{{ 'menu.profileLast12m' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="profileDayMenu">{{ 'menu.profileDay' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="profileMonthMenu">{{ 'menu.profileMonth' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="profileYearMenu">{{ 'menu.profileYear' | translate }}</button>
</mat-menu>

<mat-menu #profileLast24hMenu="matMenu">
  <ng-container *ngFor="let dayProfilePage of dayProfilePages">
    <ng-container *ngIf="dayProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/last24h']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="dayProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/last24h']" [queryParams]="{page: dayProfilePage }" >{{ dayProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<mat-menu #profileLast31dMenu="matMenu">
  <ng-container *ngFor="let monthProfilePage of monthProfilePages">
    <ng-container *ngIf="monthProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/last31d']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="monthProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/last31d']" [queryParams]="{page: monthProfilePage }" >{{ monthProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<mat-menu #profileLast12mMenu="matMenu">
  <ng-container *ngFor="let yearProfilePage of yearProfilePages">
    <ng-container *ngIf="yearProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/last12m']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="yearProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/last12m']" [queryParams]="{page: yearProfilePage }" >{{ yearProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<mat-menu #profileDayMenu="matMenu">
  <ng-container *ngFor="let dayProfilePage of dayProfilePages">
    <ng-container *ngIf="dayProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/day']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="dayProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/day']" [queryParams]="{page: dayProfilePage }" >{{ dayProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<mat-menu #profileMonthMenu="matMenu">
  <ng-container *ngFor="let monthProfilePage of monthProfilePages">
    <ng-container *ngIf="monthProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/month']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="monthProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/month']" [queryParams]="{page: monthProfilePage }" >{{ monthProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<mat-menu #profileYearMenu="matMenu">
  <ng-container *ngFor="let yearProfilePage of yearProfilePages">
    <ng-container *ngIf="yearProfilePage === ''">
      <button mat-menu-item [routerLink] ="['/profile/year']" [queryParams]="{page: ''}" >{{ 'menu.defaultPage' | translate }}</button>
    </ng-container>
    <ng-container *ngIf="yearProfilePage !== ''">
      <button mat-menu-item [routerLink] ="['/profile/year']" [queryParams]="{page: yearProfilePage }" >{{ yearProfilePage }}</button>
    </ng-container>
  </ng-container>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="diffMenu">{{ 'menu.diff' | translate }}</button>
<mat-menu #diffMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/diff/bydates']" >{{ 'menu.betweenDates' | translate }}</button>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="gaugesMenu">{{ 'menu.gauges' | translate }}</button>
<mat-menu #gaugesMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/gauges/latest']" >{{ 'menu.latest' | translate }}</button>
  <button mat-menu-item [routerLink] ="['/gauges/bydate']" >{{ 'menu.byDate' | translate }}</button>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="eventsMenu">{{ 'menu.events' | translate }}</button>
<mat-menu #eventsMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/events/latest']" >{{ 'menu.latest' | translate }}</button>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="exportMenu">{{ 'menu.export' | translate }}</button>
<mat-menu #exportMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="exportGaugesMenu">{{ 'menu.gauges' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="exportDiffsMenu">{{ 'menu.diff' | translate }}</button>
</mat-menu>
<mat-menu #exportGaugesMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/export/gauges/hourly']" >{{ 'menu.hourly' | translate }}</button>
</mat-menu>
<mat-menu #exportDiffsMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/export/diffs/hourly']" >{{ 'menu.hourly' | translate }}</button>
</mat-menu>


<button mat-raised-button color="primary" [matMenuTriggerFor]="settingsMenu">{{ 'menu.settings' | translate }}</button>
<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/settings/profilegraphs']" >{{ 'menu.profileGraphs' | translate }}</button>
  <button mat-menu-item [routerLink] ="['/settings/seriescolors']" >{{ 'menu.seriesColors' | translate }}</button>
  <button mat-menu-item [routerLink] ="['/settings/relaycontrols']" >{{ 'menu.relayControls' | translate }}</button>
  <button mat-menu-item [matMenuTriggerFor]="emailMenu">{{ 'menu.email' | translate }}</button>
  <button mat-menu-item [routerLink] ="['/settings/mqtt']" >{{ 'menu.mqtt' | translate }}</button>
</mat-menu>

<mat-menu #emailMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/settings/email/recipients']" >{{ 'menu.recipients' | translate }}</button>
  <button mat-menu-item [routerLink] ="['/settings/email/smtp']" >{{ 'menu.smtp' | translate }}</button>
</mat-menu>

<button mat-raised-button color="primary" [matMenuTriggerFor]="helpMenu">{{ 'menu.help' | translate }}</button>
<mat-menu #helpMenu="matMenu">
  <button mat-menu-item [routerLink] ="['/help/seriesdescriptions']" >{{ 'menu.seriesDescriptions' | translate }}</button>
</mat-menu>

</div>
