<div>
  <h2>{{ 'headings.diffByDates' | translate }}</h2>
</div>

<div class="divCenterOuter">
  <div class="divCenterInner">
    <mat-form-field style="width:19em">
      <input matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="dpFrom" placeholder="{{ 'common.chooseDateFrom' | translate }}"
        (dateChange)="fromDateChangeEvent($event)" [formControl]="fcFromDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom startView="month"></mat-datepicker>
    </mat-form-field>
    <br/>
    <mat-form-field style="width:19em">
      <input matInput [min]="minDateTo" [max]="maxDateTo" [matDatepicker]="dpTo" placeholder="{{ 'common.chooseDateTo' | translate }}"
        (dateChange)="toDateChangeEvent($event)" [formControl]="fcToDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo startView="month"></mat-datepicker>
    </mat-form-field>

    @if (diffValueSet !== undefined && diffValueSet.registers.length == 0) {
      <div>
        <h3>{{ 'common.noDataFound' | translate }}</h3>
      </div>
    }

    @if (diffValueSet !== undefined && diffValueSet.registers.length > 0) {
      <div>
        <br />
        <app-diff-table [diffValueSet]="diffValueSet"></app-diff-table>
      </div>
    }

  </div>
</div>
