<h2>{{ 'headings.crudeDataAdd' | translate }}</h2>

<div class="divCenterOuter">
  <div class="divCenterInner">
    <form #form="ngForm" [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)" #formDirective="ngForm">

      <mat-form-field style="width:19em">
        <mat-select placeholder="{{ 'common.placeholderLabel' | translate }}" formControlName="label" id="label" required>
          @for (opt of labels; track opt) {
            <mat-option [value]="opt">
              {{ opt }}
            </mat-option>
          }
        </mat-select>
        <mat-hint align="end">{{ 'common.chooseLabel' | translate }}</mat-hint>
        @if (hasError('label', 'required')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.required' | translate }}</mat-error>
        }
      </mat-form-field>

      <br />

      <mat-form-field style="width:19em">
        <mat-select placeholder="{{ 'forms.crudeData.add.placeholderName' | translate }}" formControlName="register" id="register" required>
          @for (opt of registers; track opt) {
            <mat-option [value]="opt">
              {{ opt.register }}
            </mat-option>
          }
        </mat-select>
        <mat-hint align="end">{{ 'forms.crudeData.add.hintName' | translate }}</mat-hint>
        @if (hasError('register', 'required')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      <br />

      <mat-form-field style="width:19em">
        <mat-select placeholder="{{ 'forms.crudeData.add.placeholderDate' | translate }}" formControlName="date" id="date" required>
          @for (opt of missingDays; track opt) {
            <mat-option [value]="opt">
              {{ opt.timestamp | date:'medium' }}
            </mat-option>
          }
        </mat-select>
        <mat-hint align="end">{{ 'forms.crudeData.add.hintDate' | translate }}</mat-hint>
        @if (hasError('date', 'required')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.required' | translate }}
          </mat-error>
        }
      </mat-form-field>

      <br />

      @if (crudeValues !== undefined && crudeValues.length > 0) {
        <h4>
          {{ 'forms.crudeData.add.closestValues' | translate }}
        </h4>
      }

      <app-data-crude-table [crudeValues]="crudeValues"></app-data-crude-table>

      <br />

      @if (crudeValues !== undefined && crudeValues.length > 0) {
        <div>
          {{ 'forms.crudeData.add.scaleUnitDescription' | translate }}
          <br />
        </div>
      }

      <br />

      <mat-form-field style="width:19em">
        <input matInput type="number" min="minValue" max="maxValue"
          onkeypress="return event.charCode >= 48 && event.charCode <= 57"
          placeholder="{{ 'forms.crudeData.add.placeholderValue' | translate }}"
          formControlName="value" id="value" required>
        <mat-hint align="end">{{ 'forms.crudeData.add.hintValue' | translate }}
        </mat-hint>
        @if (hasError('value', 'required')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.required' | translate }}</mat-error>
        }
        @if (hasError('value', 'min')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.min' | translate: ({minValue: minValue}) }}</mat-error>
        }
        @if (hasError('value', 'max')) {
          <mat-error>{{ 'forms.crudeData.add.valErrors.max' | translate: ({maxValue: maxValue}) }}</mat-error>
        }
      </mat-form-field>

      <br />

      @if (crudeValues !== undefined && crudeValues.length > 0) {
        <div>
          {{ 'forms.crudeData.add.preselected' | translate }}
          <br />
        </div>
      }

      <br />

      <button mat-raised-button style="margin:5px;" type="submit"
      [disabled]="!formGroup.valid">{{ 'forms.crudeData.add.buttonAdd' | translate }}</button>

    </form>

  </div>
</div>
