<table mat-table [dataSource]="dataSource" matSort class="center">
  <ng-container matColumnDef="detectTimestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'columns.detectTimestamp' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.detectTimestamp | date:'medium' }}</td>
  </ng-container>
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.label' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ v.label }}</td>
  </ng-container>
  <ng-container matColumnDef="event">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.event' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ 'events.type_' + v.type.toLowerCase() | translate }}</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.status' | translate }}</th>
    <td mat-cell *matCellDef="let v">{{ 'events.status_' + v.status | translate }}</td>
  </ng-container>
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef>{{ 'columns.details' | translate }}</th>
    <td mat-cell *matCellDef="let v"><div style="margin-top:3px;margin-bottom:3px">{{ v.details }}</div></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr style="white-space: pre-wrap;" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
