<div>
  <h2>{{ 'headings.smtp' | translate }}</h2>
</div>

<div class="divCenterOuter">
  {{ 'headings.smtpInfo' | translate }}
  <a href='https://myaccount.google.com/lesssecureapps'>{{ 'headings.smtpInfoLink' | translate }}</a>.
</div>

<br/>

<div class="divCenterOuter">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-form-field style="width:17em">
      <input matInput type="text" placeholder="{{ 'forms.settings.smtp.placeholderServer' | translate }}" formControlName="server" id="server" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintServer' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('server', 'required')">{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('server', 'minlength')">{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      <mat-error *ngIf="hasError('server', 'maxlength')">{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:17em">
      <input matInput type="number" placeholder="{{ 'forms.settings.smtp.placeholderPort' | translate }}" formControlName="port" id="port" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintPort' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('port', 'required')">{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('port', 'min')">{{ 'forms.settings.smtp.valErrors.min_1' | translate }}</mat-error>
      <mat-error *ngIf="hasError('port', 'max')">{{ 'forms.settings.smtp.valErrors.max_65535' | translate }}</mat-error>
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:17em">
      <input matInput type="text" placeholder="{{ 'forms.settings.smtp.placeholderEmail' | translate }}" formControlName="user" id="user" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintEmail' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('user', 'required')">{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('user', 'minlength')">{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      <mat-error *ngIf="hasError('user', 'maxlength')">{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:17em">
      <input matInput type="password" placeholder="{{ 'forms.settings.smtp.placeholderPassword' | translate }}" formControlName="auth" id="auth" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintPassword' | translate }}</mat-hint>
      <mat-error *ngIf="hasError('auth', 'required')">{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      <mat-error *ngIf="hasError('auth', 'minlength')">{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      <mat-error *ngIf="hasError('auth', 'maxlength')">{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
    </mat-form-field>
  
    <br/>
    <br/>

    <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.smtp.buttonSave' | translate }}</button>
    
  </form>
</div>
  
