<div>
  <h2>{{ 'headings.smtp' | translate }}</h2>
</div>

<div class="divCenterOuter">
  {{ 'headings.smtpInfo' | translate }}
</div>

<br/>

<div class="divCenterOuter">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.smtp.placeholderServer' | translate }}" formControlName="server" id="server" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintServer' | translate }}</mat-hint>
      @if (hasError('server', 'required')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('server', 'minlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      }
      @if (hasError('server', 'maxlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="number" placeholder="{{ 'forms.settings.smtp.placeholderPort' | translate }}" formControlName="port" id="port" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintPort' | translate }}</mat-hint>
      @if (hasError('port', 'required')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('port', 'min')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.min_1' | translate }}</mat-error>
      }
      @if (hasError('port', 'max')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.max_65535' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.smtp.placeholderUser' | translate }}" formControlName="user" id="user" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintUser' | translate }}</mat-hint>
      @if (hasError('user', 'required')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('user', 'minlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      }
      @if (hasError('user', 'maxlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="password" placeholder="{{ 'forms.settings.smtp.placeholderPassword' | translate }}" formControlName="auth" id="auth" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintPassword' | translate }}</mat-hint>
      @if (hasError('auth', 'required')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('auth', 'minlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      }
      @if (hasError('auth', 'maxlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>

    <mat-form-field style="width:19em">
      <input matInput type="text" placeholder="{{ 'forms.settings.smtp.placeholderEmail' | translate }}" formControlName="email" id="email" required>
      <mat-hint align="end">{{ 'forms.settings.smtp.hintEmail' | translate }}</mat-hint>
      @if (hasError('email', 'required')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.required' | translate }}</mat-error>
      }
      @if (hasError('email', 'minlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.minLength_7' | translate }}</mat-error>
      }
      @if (hasError('email', 'maxlength')) {
        <mat-error>{{ 'forms.settings.smtp.valErrors.maxLength_39' | translate }}</mat-error>
      }
    </mat-form-field>

    <br/>
    <br/>

    <button mat-raised-button style="margin:5px;" type="submit" [disabled]="!formGroup.valid">{{ 'forms.settings.smtp.buttonSave' | translate }}</button>

  </form>
</div>

