<div>
  <h2>{{ 'headings.exportHourly' | translate }}</h2>
</div>

<div class="divCenterOuter">
  <form #form="ngForm" [formGroup]="formGroup">

    <mat-form-field style="width:13em">
      <mat-select placeholder="{{ 'common.placeholderLabels' | translate }}" formControlName="labels" id="labels" multiple required (selectionChange)="labelsChangeEvent($event)">
        <mat-select-trigger>
          <span *ngIf="formGroup.controls['labels'].value?.length === 1" class="example-additional-selection">
            {{ formGroup.controls['labels'].value[0] }}
          </span>
          <span *ngIf="formGroup.controls['labels'].value?.length > 1" class="example-additional-selection">
            {{ 'common.multipleLabels' | translate:{value:formGroup.controls['labels'].value.length} }}
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let opt of labels" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">{{ 'common.chooseLabels' | translate }}</mat-hint>
    </mat-form-field>
  
    <br/>

    <mat-form-field style="width:13em">
      <input matInput [min]="minDateFrom" [max]="maxDateFrom" [matDatepicker]="dpFrom" placeholder="{{ 'common.chooseDateFrom' | translate }}" 
        (dateChange)="fromDateChangeEvent($event)" formControlName="fromDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpFrom"></mat-datepicker-toggle>
      <mat-datepicker #dpFrom startView="month"></mat-datepicker>
    </mat-form-field>

    <br/>

    <mat-form-field style="width:13em">
      <input matInput [min]="minDateTo" [max]="maxDateTo" [matDatepicker]="dpTo" placeholder="{{ 'common.chooseDateTo' | translate }}" 
        (dateChange)="toDateChangeEvent($event)" formControlName="toDate" required />
      <mat-datepicker-toggle matSuffix [for]="dpTo"></mat-datepicker-toggle>
      <mat-datepicker #dpTo startView="month"></mat-datepicker>
    </mat-form-field>

    <br/>

  </form>
</div>
